<footer class="d-flex bg-secondary text-white flex-wrap justify-content-center p-3 mt-5">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-end">
			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<li class="ms-3"><a class="p-0 text-white text-decoration-none" href="/imprint">Imprint and Privacy Statement</a></li>
				<li class="ms-3"><a class="p-0 text-white text-decoration-none" href="mailto:euchner@inue.uni-stuttgart.de">Contact</a></li>
			</ul>
		</div>
	</div>
</footer>